@font-face {
    font-family: migra;
    src: url(./PPMigra-Regular.fb0ee287.ttf);
}
@font-face {
    font-family: sharp ;
    src: url(./SharpGrotesk-Bold.164b198a.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#center{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: red; */
}

.imagediv{
    position: absolute;
    height: 400px;
    width: 400px;
    /* background-color: yellowgreen; */
    position: absolute;
    /* overflow: hidden; */
    
}

.imagediv img{
    position: absolute;
   top: -20%;
   left: 0%;
    height: 220px;
    width: 180px;
    object-fit: cover;
    /* transform: translateY(100%); */
    animation-name: anime;
    animation-duration: 1s;
    transition: all ease;
    /* animation-delay: 0.5s; */
    
}

@keyframes anime {
    0%{
        transform: translateY(20%);
    }
    50%{
    transform: translateY(-50%);
    /* transform: rotate(340deg); */

    }
    100%{
        transform: translateY(0%);
    }
}

#mid{
    height: 100vh;
    width: 100%;
    padding: 10vw 15vw;
    background-color: cadetblue;
    z-index: -1;
    position: absolute;
    background-color: #E7E4E5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}
h1{
    font-size: 8vw;
    font-family: migra;
    text-align: center;
    font-weight: 500;
}
span{
    font-family: sharp;
}


@media (max-width:600px) {
    h1{
        /* color: royalblue; */
     position: relative;   
     top: 40%;
     font-size: 8vw;
     font-weight: 600;
    }
    .imagediv img{
        height: 20vh;
        width: 30vw;
        border: 2px solid gray;
    }
    .imagediv{
        height: 40vh;
        width: 70vw;
        /* background-color: red; */
    }
}
